{% extends 'layouts/main.html' %}
{% block title %} Run Robots {% endblock %}
{% block content %}


<div class="page-header">
<h3> Run Genomic robots </h3>
</div>


<div class="container-fluid">
<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><a href="#example1" data-toggle="tab" data-tab-history="true">Example 1</a></li>
        <li><a href="#example2" data-toggle="tab" data-tab-history="true">Example 2</a></li>
        <li><a href="#example3" data-toggle="tab" data-tab-history="true">Example 3</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane" id="example1">
            <div class="row">
                <div class="col-sm-12">

                        <div class="home_block">
                          <form id="#example1" method="POST" action="{{ url_for('.identify_page') }}">

                            <div class="form-group">
                              <label for="mutations">Input RS IDS:</label>
                                <textarea class="form-control input-xxlarge" rows="4" id="rsids" name="rsids"></textarea>
                            </div>

                            <br>
                            <button id="example1_button" type="submit" class="btn btn-warning">Run the bot!</button>
                            <br>
                          </form>

                      </div>

                      <br/>
                      <div class="row">
                          <div class="col-xs-12">
                            <!-- <br> -->
                            <a name="results"></a>
                            <div id="results" style="display: none;">
                                <table id="results_table" class="table-no-bordered"

                                       data-toggle="table"
                                       data-pagination="true"
                                       data-height="100%"
                                       data-sort-name="score"
                                       data-sort-order="desc"
                                       >
                                       <!-- class="table-condensed " -->
                                       <!-- data-search="true" -->
                                    <thead>
                                    <tr>
                                        <th data-field="rs" data-width="230px" data-formatter="btable_view_button_formatter">RS ID</th>
                                        <th data-field="status" data-sortable="true">STATUS</th>
                                    </tr>
                                    </thead>
                                </table>                
    
                            </div>
                          </div>
                      </div>

                </div>
            </div>
        </div>

        <div class="tab-pane" id="example2">
            <div class="row">
                <div class="col-sm-12">
                Example form 2
                </div>
            </div>
        </div>


        <div class="tab-pane" id="example3">
            <div class="row">
                <div class="col-sm-12">
                Example form 3
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}


{% block script %}
<script>

$(function() {
    $.ajaxSetup({ cache: false });

    $("#form1").submit(function(event){
        event.preventDefault();
        $("#result1").hide();

        $.getJSON(
          url_api_example1, {
              input_data: $("#input_data1").val(),
          }, function(json) {
                $("#result1").show();
          });
    });

    // by default show the first tab
    $('#tabs a[href="#example1"]').tab('show');
});

</script>
{% endblock %}
